/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

a {
	text-decoration: none;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	margin:0;
	font-size: 100%;
	font-family: 'Poppins', sans-serif;
	background: #fff;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	display: block;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 50px;
	width: 100%;
	background: #FFE680;
	display: flex;
}


/* Middle
-----------------------------------------------------------------------------*/
/* .content {

} */


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 100%;
	height: 30px;
	background: #BFF08E;
	display: block;
}



/* Верхнее меню */

.background_nav {
	width: 100%;
	display: block;
/* Приклеить меню к верху экрана
-----------------------------------------------------------------------------
	position: fixed;
	z-index: 9999;
	margin-top: -50px;
*/
}

.vverh {
	position: fixed;
	z-index: 9999;
	bottom: 20px;
	right: 20px;
	opacity: 0.5;
}

.nav {
max-width: 1080px;
display: flex;
margin:20px auto 0;
height: 50px;
padding: 0 150px;
}

@media (max-width: 1120px) {
	.nav {
		display: none;
	}
}

.nav a {
font-size: 20px;
color: #524f53;
margin: 6px auto 0;
padding: 10px 15px;
white-space: nowrap;
/* border-radius: 5px; */
}

.nav a:hover::after {
	width: 100%;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}

.nav a::after {
	content: "";
	display: block;
	width: 0;
	height: 2px;
	margin: 5px 0 0 0;
	background: #01bf9d;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
}

/* Мобильное меню */
.nav-mobile {
	display: none;
	flex-direction: column;
}
@media (max-width: 1120px) {
	.nav-mobile {
		display: flex;
	}
}
.nav-panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-burger {
	display: flex;
	width: 30px;
	height: 30px;
	background: url("img/menu.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.nav-panel-phone {
	display: flex;
	align-items: center;	
}
.nav-panel-phone p {
	font-weight: 600;
	color: #424242;
}
.nav-panel-phone img {
	width: 40px;
	margin: 0 10px 0 0;
}
.nav-links {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.nav-links a {
	margin: 2px auto;
	font-size: 20px;
	color: #424242;
}
/* КОНЕЦ Верхнее меню */





/* Верх с описанием и Алиной */

.backgroung_slider {
	width: 100%;
	display: block;
}

.slider {
max-width: 1080px;
height: 450px;
display: flex;
margin:0 auto;
position: relative;
}

.bg {
	position: absolute;
	right: 420px;
	bottom: -120px;
	z-index: -9000;
}

@media (max-width: 993px) {
	.bg {
		right: 185px;
	}
}
@media (max-width: 687px) {
	.bg {
		right: 130px;
	}
}
@media (max-width: 632px) {
	.bg {
		right: -75px;
	}
}
@media (max-width: 425px) {
	.bg {
		right: 25px;
	}
}




.texte-slider {
width: 450px;
position: relative;
z-index: 5;
}

.texte-slider h1 {
font-size: 27px;
margin: 30px 0px 0px 30px;
font-weight: 600;
line-height: 1.4;
color: #333333;
}
@media (max-width: 440px) {
	.texte-slider h1 {
		font-size: 20px;

	}
}

.texte-slider p {
font-size: 27px;
margin: 17px 0px 0px 30px;
line-height: 1.7;
color: #424242;
}

.advantages {
	display: flex;
	flex-direction: column;
	padding-left: 65px;
}
.advantages__row {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}
.advantages__row p {
	font-size: 20px;
}
@media (max-width: 440px) {
	.advantages {
		padding-left: 30px;
	}
	.advantages__row p {
		font-size: 16px;
	}
}

.advantages__row img {
	position: absolute;
	top: 20px;
	left: -5;
}

.texte-slider img {
width: 25px;
height: 25px;
}


.texte-slider a {
font-size: 30px;
font-weight: 700;
background: #ff0000;
position: absolute;
padding: 15px 25px;
bottom: 0;
right: 120px;
color: #fff;
border-radius: 10px;
}
@media (max-width: 767px) {
	.texte-slider a {
		right: 25%;
	}
}

.texte-slider a:hover {
	background: #cb0000;
}

.photo_slider {
max-width: 630px;
}

@media (max-width: 1120px) {
	.photo_slider {
		position: absolute;
    right: 0;
	}
}

.photo1 img{
width: 185px;
margin: 10px 0px 0px 300px;
}


.photo2 img{
margin: 150px 0px 0px 0px;
}


.photo3 img{
margin: 0px 0px 0px 475px;
}

.photo4 img{
margin: 350px 0px 0px 0px;
}

@media (max-width: 1224px) {
	.photo_slider .photo3 img {
		display: none;
	}

}

/* КОНЕЦ Верх с описанием и Алиной */



/* Олег Лена и форма заказа */

.background_size {
	width: 100%;
	display: block;
	margin-top: 115px;
}

.size_pled {
	max-width: 1080px;
	height: 500px;
	display: flex;
	margin:0 auto;
	position: relative;
}
@media (max-width: 1184px) {
	.size_pled {
		display: none;
	}
}

.size_texte {
	width: 750px;
}

.ph_size img {
	max-width: 720px;
	bottom: 0px;
	right: 330px;
	position: absolute;
}



.ph_size2 img{
width: 200px;
height: 200px;
top: 150px;
left: 15px;
position: absolute;
}

.ph_size2__slogan {
	display: flex;
	width: 205px;
	height: 205px;
	border-radius: 50% 0 50% 0;
	-webkit-border-radius: 50% 0 50% 0;
	-moz-border-radius: 50% 0 50% 0;
	-ms-border-radius: 50% 0 50% 0;
	-o-border-radius: 50% 0 50% 0;
	background: #00c09d;
	top: 150px;
	left: 15px;
	position: absolute;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-style: italic;
	color: #fff;
	line-height: 40px;
}

.ph_size2__slogan_mobile {
	display: none;
	width: 205px;
	min-width: 205px;
	height: 205px;
	border-radius: 50% 0 50% 0;
	-webkit-border-radius: 50% 0 50% 0;
	-moz-border-radius: 50% 0 50% 0;
	-ms-border-radius: 50% 0 50% 0;
	-o-border-radius: 50% 0 50% 0;
	background: #00c09d;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-style: italic;
	color: #fff;
	line-height: 40px;
}

@media (max-width: 1184px) and (min-width: 768px) {
	.ph_size2__slogan_mobile  {
		display: flex;
		margin: 0 0 0 20%;
	}
}

@media (max-width: 767px) {
	.ph_size2__slogan_mobile  {
		display: flex;
		margin: 0 0 0 2%;
	}
	.ph_size2__slogan_mobile img {
		max-width: 365px;
	}

}
@media (max-width: 664px) {
	.ph_size2__slogan_mobile {
		margin: 0 0 35px 0;
	}
}

@media (max-width: 993px) {
	.ph_size2__slogan {
		width: 270px;
		height: 150px;
		font-size: 25px;
	}
}

.ph_size2 img:hover {
width: 220px;
height: 220px;
top: 140px;
left: 5px;
-moz-transform: rotate(7deg); /* Для Firefox */
    -ms-transform: rotate(7deg); /* Для IE */
    -webkit-transform: rotate(7deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(7deg); /* Для Opera */
    transform: rotate(7deg);
}

/* Mobile block sizes */
.block-sizes {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 0 0 75px 0;
	position: relative;
}
.block-sizes__form {
	display: flex;
	flex-direction: column;
	max-width: 320px;
	margin: 30px auto 0;
	padding: 20px;
	background: #fff75c;
}
.block-sizes__form h3 {
	font-size: 27px;
	font-weight: 500;
	text-align: center;
}
.block-sizes__form form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.block-sizes__social {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}
.block-sizes__img {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
.block-sizes__variant {
	margin: 20px 15px;
	font-size: 30px;
	color: #000;
	line-height: 1.4;
}

@media (max-width: 1184px) {
	.block-sizes__img {
		justify-content: space-between;
	}
}

@media (max-width: 993px) and (min-width: 901px) {
	.block-sizes__img img {
		width: 100%;
		max-width: 500px;
	}
}

@media (max-width: 900px) {
	.block-sizes__img img {
		width: 100%;
		max-width: 400px;
	}
}
@media (max-width: 664px) {
	.block-sizes__img {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width: 500px) {
	.block-sizes__variant {
		font-size: 25px;
	}
}
@media (max-width: 425px) {
	.block-sizes__variant {
		font-size: 20px;
	}
}
@media (max-width: 350px) {
	.block-sizes__variant {
		font-size: 17px;
	}
}



/* ТАблица размеров */
.block-size-table {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px auto;
}
@media (min-width: 1121px) {
	.block-size-table {
		display: none;
	}
}

.block-size-table__row {
	display: flex;
	flex-direction: row;
	background: #fff75c;
}

.block-size-table__col {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 50px;
	border: 1px solid #424242;
}

.size_texte p{
	margin: 20px 15px;
	position: absolute;
	font-size: 30px;
	color: #000;
	line-height: 1.4;
}

.for {
	/* display: none; */
	width: 330px;
	height: 400px;
	text-align: center;
	background: #fff75c;
	display: inline;
	position: relative;
}

.otstup {
	margin-top: 100px;
}

.for img {
	width: 45px;
	height: 45px;
	padding: 15px 15px;
}

.ppp{
	width: 330px;
	position: absolute;
	z-index: 20;
	margin: 0 auto;
}

.for a:hover img {
	width: 51px;
	height: 51px;
	padding: 12px 12px;
}


.for h3 {
	margin: 20px 0px 15px 0px;
font-size: 27px;
color: #000;
font-weight: 500;
}


#forma input[type="text"] {
	width: 250px;
	height: 40px;
	font-size: 18px;
	margin: 12px 5px;
	/*border-radius: 5px;
	*/text-align: center;
}

#forma input[type="text"]:focus {
	border-radius: 0;
	border: 1px solid #104e9e;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	outline: none;
}


#forma input[type="submit"]{
width: 250px;
height: 45px;
font-size: 18px;
margin: 5px 15px;
border: none;
border-radius: 5px;
text-align: center;
color: #fff;
background-color: #ff0000;
font-weight: 500;
cursor: pointer;
}

#forma input[type="submit"]:hover{
background: #cb0000;

}

/*КОНЕЦ  Олег Лена и форма заказа */




/* Бесплатный макет и упаковка */
.price_bg {
	display: block;
	width: 100%;
	height: 250px;
	margin-top: -90px;
	position: relative;
	background: url(img/price_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

@media (max-width: 1120px) {
	.price_bg {
		display: flex;
		align-items: flex-end;
	}
}

.free-layout {
	display: none;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	margin: 0 0 20px 0;
	padding: 0 10%;
}

@media (max-width: 1120px) {
	.free-layout {
		display: flex;
	}
}

.free-layout__col {
	display: flex;
	align-items: center;
	width: 50%;
	height: 130px;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	font-weight: 700;
	font-style: italic;
	color: #000;
}

.free-layout__wrap {
	display: flex;
	flex-direction: row;
	width: 50%;
}
@media (max-width: 1064px) {
	.free-layout__col {
		font-size: 30px;
	}
}
@media (max-width: 992px) {
	.free-layout__col {
		font-size: 26px;
	}
}
@media (max-width: 850px) {
	.free-layout__col {
		font-size: 20px;
	}
	.free-layout__col:nth-child(2) {
		/* width: 17%; */
		margin-right: 20px;
	}
}
@media (max-width: 685px) {
	.price_bg {
		height: 350px;
	}
	.free-layout__wrap {
		width: 70%;
	}
	.free-layout {
		align-items: center;
		flex-direction: column;
		margin: 0;
	}
	.free-layout__img,
	.free-pack__img {
		min-width: 110px;
		margin: 0 0 0 20px;
	}
	.free-layout__col:nth-child(2) {
		margin-right: 0;
	}
}
@media (max-width: 415px) {
	.free-layout__wrap {
		width: 90%;
	}
}


.price_poloska {
	max-width: 1080px;
	height: 242px;
	display: flex;
	margin: 0 auto;
	position: relative;
	/* top: -90px; */
	top: 165px;
}

@media (max-width: 1120px) {
	.price_poloska {
		display: none;
	}
	/* Изображение бесплатного макета */
	.free-layout__img {
		background: url("img/maket.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	/* Изображение упаковки */
	.free-pack__img {
		background: url("img/upak.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

}

.price_bg p {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	font-weight: 700;
	font-style: italic;
	color: #000;
}
@media (max-width: 1120px) {
	.price_bg p  {
		font-size: 20px;
	}
}

.price_img img {
	width: 100%;
}

.price_img1 img{
	margin: -60px 280px;
	position: absolute;
}
.price_img2 {
	margin: -130px 780px;
	position: absolute;
}
.price_tx1 {
	margin: -30px 30px;
	position: absolute;
}
.price_tx2 {
	margin: -65px 510px;
	position: absolute;
}



/* КОНЕЦ Бесплатный макет и упаковка */





/* Основные Преимущества и Цены */

.background_price {
	width: 100%;
	/* height: 500px; */
	background: #01bf9d;
	margin-top: -30px;
	padding-bottom: 50px;
}

.price {
	max-width: 1080px;
	display: flex;
	margin: 0 auto;
	position: relative;
}

.price_img {
	max-width: 750px;
	max-height: 450px;
	margin-top: 40px;

}

@media (max-width: 1120px) {
	.price  {
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
	}
	.price_img {
		margin: 40px auto 20px;
	}
	.order-mob {
		position: relative!important;
    display: flex;
    margin: 0 auto!important;
    right: 0!important;
	}
	.order-desk {
		display: none!important;
	}

}

.price a {
font-size: 30px;
font-weight: 700;
background: #ff0000;
position: absolute;
padding: 15px 25px;
margin-top: 444px;
right: 50px;
color: #fff;
border-radius: 10px;
}

.price a:hover {
	/* color: #; */
	background: #cb0000;
}


.tablica tr:hover{
	background-color: #aaa;
}
.tablica th{
	padding: 15px 15px;
	display		: table-cell;
	vertical-align	: middle;
}

.tablica table{
	max-width: 330px;
	margin: 50px 0px;
	background: #fff75c;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	font-style: italic;
	color: #000;
	position: table;
}

.tablica p{
	max-width: 330px;
	display: flex;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	margin-top: 395px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 600;
}


.tablica{
	max-width: 330px;
	height: 500px;
	display: flex;
	right: 150px;
	margin-left: 40px;
}

@media (max-width: 1120px) {
	.tablica {
		height: 450px;
		margin-left: 0;
	}
}


/* КОНЕЦ Основные Преимущества и Цены */




/* Преимущества*/
.background_preim {
	display: block;
	width: 100%;
	/* height: 330px; */
	margin: 70px 0 0 0;
	background: #01bf9d;
}

.preim {
	max-width: 1080px;
	display: flex;
	flex-wrap: wrap;
	margin: 50px auto 0;
	padding: 50px 0 120px;
	position: relative;
}

@media (max-width: 1023px) {
	.preim .pr1 {
		min-width: 200px;
		height: auto;
		margin: 0 12% 20px 12%;
	}
}

@media (max-width: 784px) {
	.preim {
		justify-content: center;
	}
}

.pr1 {
	width: 200px;
	height: 200px;
	margin: 0px auto;
}

.pr1 img {
	width: 190px;
	height: 190px;
}

.pr1 img:hover {
	width: 200px;
	height: 200px;
}

.pr1 p {
	margin-top: 10px;
	margin-left: -10px;
	width: 220px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
}

.preim_h3 {
	width: 100%;
  text-align: center;
	margin: 10px auto 45px;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 700;
	display: block;

}



.background_photo_sl {
	display: block;
	width: 100%;
	height: 380px;
	margin: 50px 0 0 0;
}

.photo_sl {
	max-width: 1080px;
	display: block;
	margin: 0 auto;
	position: relative;

}

.sl_h3 {
	text-align: center;
	margin: 15px auto 45px;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 700;
}
.ft {
	color: #000;
	font-size: 33px;
	margin-top: 15px;
}

.background_contakt {
	width: 100%;
	display: block;
}

.mobile-form-footer .block-sizes__form {
	display: none;

}
@media (max-width: 1120px) {
	.mobile-form-footer .block-sizes__form {
		display: flex;
	}
}

@media (max-width: 1120px) {
	.background_contakt .for {
		display: none;
	}

}

/* Обёртка карты */
.wrap-map {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.wrap-map img {
	display: none;
	width: 100%;
	max-width: 580px;
	margin: 50px 0 0 0;
}

@media (max-width: 767px) {
	.wrap-map img {
		display: flex;
	}
}

.contakt {
	max-width: 1080px;
	height: 400px;
	display: flex;
	margin: 0 auto;
	position: relative;
}


.contakt_tex {
	width: 750px;
	display: inline-block;
	padding: 50px 0 0 0;
}


.contakt_tex h3{
	margin: 15px 40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	font-weight: 700;
	position: absolute;
}



.con p {
	margin: 80px 40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 500;
	position: absolute;

}

.con img{
	width: 35px;
	height: 35px;
	margin: -9px 15px;
}
@media (max-width: 390px) {
	.con p {
		font-size: 16px;
		white-space: nowrap;
	}
	.con img {
		margin: -11px 15px;
	}
}



.con {
	/* min-width: 400px; */
	height: 50px;
	margin: 15px 0px;
}

.con a {
 color: #000;
 font-weight: 500;
}

.con a:hover {
 /* color: #08767d; */
 color: rgb(226, 225, 225);
 font-weight: 700;
}





.dostav img{
max-width: 720px;
height: 200px;
top: 85px;
left: 400px;
position: absolute;
}

@media (max-width: 768px) {
	.dostav img {
		display: none;
	}
}








@media (max-width:1024px) {


}
@media (max-width:854px) {

}
@media (max-width:812px) {

}
@media (max-width:768px) {

}
@media (max-width:736px) {

}
@media (max-width:667px) {

}
@media (max-width:600px) {

}
@media (max-width:480px) {

}
@media (max-width:425px) {

}
@media (max-width:414px) {

}
@media (max-width:384px) {

}
@media (max-width:375px) {

}

@media (max-width:360px) {

}
@media (max-width:320px) {

}















